.grid {
    display: grid;
    grid-template-areas: 
        "cost cost"
        "numberList starList";
    grid-template-columns: 1fr 25%;
    grid-template-rows: auto auto;
    background: #f0f0f5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    gap: 20px;
}

.cost {
    grid-area: cost;
    display: flex;
    align-items: center;
}
.title {
    color: #243b82;
    font-size: 26px;
    flex: 1;
}
.price {
    flex: 0 0 auto;
    color: #c12a2a;
    font-size: 18px;
}

.numberList {
    grid-area: numberList;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.number {
    height: 42px;
    width: 42px;
    border-radius: 666px;
    background: white;
    color: #243b82;
    text-align: center;
    vertical-align: middle;
    line-height: 42px;
    font-weight: 700;
    font-size: 18px;
    user-select: none;
    cursor: pointer;
}
.numberSelected {
    background: #243b82;
    color: white;
}

.starList {
    grid-area: starList;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.star {
    position: relative;
    height: 50px;
    width: 50px;
    color: #f9b743;
    transition: all 1s linear;
    font-weight: 700;
    font-size: 18px;
    user-select: none;
    cursor: pointer;
}
.star svg {
    height: 50px;
    width: 50px;
    fill: white;
    stroke: #f9b743;
    stroke-width: 20;
}
.starSelected {
    color: white;
}
.starSelected svg {
    fill: #f9b743;
}
.star span {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}